.features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.features__items {
  display: block;
  margin: 15px;
  padding: 40px;

  max-width: 570px;
  min-height: 299px;
  border: 1px solid $borders;
  border-left: 3px solid $accent;
  background-color: $white;
  fill: $accent;

  @media (max-width: $tablet-width) {
    padding: 24px 20px 25px 24px;
    max-width: 345px;
    min-height: 232px;
  }

  @media (max-width: $mobile-width) {
    margin: 10px;
    padding: 24px 16px 32px 24px;
  }
}

.features__items:hover,
.features__items:focus {
  background-color: $accent;
  color: $white;
  fill: $white;
}

.features__items h3 {
  margin: 17px 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: $accent;

  @media (max-width: $tablet-width) {
    margin: 7px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 28px;
  }
}

.features__items:hover h3,
.features__items:focus h3 {
  color: $white;
}

.features__items p {
  font-size: 16px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.features__items--timing svg {
  width: 29px;
  height: 35px;

  @media (max-width: $tablet-width) {
    height: 36px;
  }
}

.features__items--suppliers svg {
  width: 35px;
  height: 35px;

  @media (max-width: $tablet-width) {
    width: 31px;
    height: 32px;
  }
}

.features__items--confidentiality svg {
  width: 36px;
  height: 31px;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 26px;
  }
}

.features__items--cost svg {
  width: 35px;
  height: 35px;

  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }
}
