.form-section {
  padding-top: 62px;

  background-color: $accent;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-position: left 100% top 60%;

  @media (max-width: $tablet-width) {
    padding-top: 52px;

    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 7px 3% 0 3%;
  }
}
