.form-section {
  padding-top: 62px;

  background-color: $accent;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-position: left 100% top 60%;

  @media (max-width: $tablet-width) {
    padding-top: 52px;

    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 7px 3% 0 3%;
  }
}

.form-section h2,
.form-section p {
  margin-left: 50%;
  padding-left: 15px;
  color: $white;

  @media (max-width: $tablet-width) {
    margin-left: 10%;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding-left: 5px;
  }
}

.form-section h2 {
  margin-bottom: 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -1.7px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 39px;
  }
}

.form-section p {
  margin-top: 10px;
}
