.modal {
  display: none;
}

.modal--open {
  display: block;
  position: absolute;
  z-index: 2;
  width: 490px;
  height: 605px;
  top: 136px;
  left: calc(50% - 245px);

  padding: 8px 39px 36px 39px;

  background-color: $accent;
  overflow: auto;
}

.modal .form {
  margin-left: 0;
  padding: 0;
  width: 100%;
  min-width: 450px;
}

.modal h2 {
  margin-bottom: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  letter-spacing: -1.2px;
}

.modal p {
  margin: 8px 15px 20px 0;
  padding-left: 0;

  font-size: 16px;
  line-height: 21px;
}

.modal input:not([type="checkbox"]),
.modal textarea {
  margin: 15px 0;
  padding: 12px 25px;

  width: 411px;
}

.modal input {
  height: 51px;
}

.modal textarea {
  height: 104px;
}

.modal .button {
  margin: 12px 0;

  width: 411px;
}

.modal label[for="agreement"] {
  position: relative;
  width: 99%;

  margin-left: 0;
  margin-top: 24px;
  padding-left: 50px;
  letter-spacing: -1px;
}

.modal .close {
  position: absolute;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  top: 14px;
  right: 14px;
  padding: 15px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

// .modal::before {
//   content: " ";
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: $modal-background;
//   opacity: 0.1;
//   z-index: -1;
// }
