.office {
  position: relative;
  margin-left: 24px;

  @media (max-width: $tablet-width) {
    margin-top: 35px;
    margin-left: 16px;
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 13px;
    margin-left: 0;
    padding-left: 10px;
    padding-bottom: 11px;

    line-height: 25px;
  }
}

.office h3 {
  margin-left: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.office__wrap {
  display: flex;
  flex-direction: column;
  letter-spacing: -0.5px;
}

.office__wrap--closed {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.office p {
  margin-top: 13px;
  margin-bottom: 4px;

  @media (max-width: $mobile-width) {
    margin-top: 17px;
    margin-bottom: 0;
    padding-right: 10px;
  }
}

.office a:not(:first-child) {
  margin: 3px;
  width: fit-content;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}
