@import "../saas/blocks/about-us.scss";
@import "../saas/blocks/body.scss";
@import "../saas/blocks/button.scss";
@import "../saas/blocks/conditions.scss";
@import "../saas/blocks/contact-us.scss";
@import "../saas/blocks/features";
@import "../saas/blocks/form-section";
@import "../saas/blocks/form";
@import "../saas/blocks/header";
@import "../saas/blocks/logo";
@import "../saas/blocks/main-information";
@import "../saas/blocks/modal";
@import "../saas/blocks/name";
@import "../saas/blocks/office";
@import "../saas/blocks/products";
@import "../saas/blocks/sections";
@import "../saas/blocks/social";
@import "../saas/fonts";
@import "../saas/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
