// размеры
$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

// цвета
$white: #ffffff;
$black: #000000;
$lines: #353735;
$accent: #00b2ff;
$background-dark: #1b2d37;
$text: #666666;
